inventory_hostname = {{ ansible_hostname }}
Total_memory_in_mb = {{ ansible_memtotal_mb }}
bios_versions = {{ ansible_bios_version }}
size_of_vda_device = {{ ansible_devices.vda.size }}
size_of_vdb_device = {{ ansible_devices.vdb.size }}

